<style>

footer.php{
    font-size: 40px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    
    
}

table {
    border: 20px;
    width: 100%;
 
}

/*table header*/
th {
height: 50px;
background-color: #21D261;
    text-align: center;
}

/*table data*/
td{
    height: 30px;
    background-color: white;
}

/*
td.colored
{
    background-color: <?php echo $color; ?>;
}
*/


a
{
    font-family: 'Arvo', serif;
}

        
a:link {
      background-color: black;
      color: white;
      padding: 10px 15px;
      border-radius: 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      } 
a:hover{
        background-color: #21D261;
        color: white;
        padding: 10px 15px;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
a:visited{
    color: floralwhite;
        }
a:active{
    font-weight: bold;
    background-color: limegreen;
}


body    
{
    //background-image: url("sur.gif");
    background-position: top;

    background-color: #cccccc;
    background-repeat: no-repeat;
}

form, h1, h2 , h3 , h4 , h5 , h6 
{
    font-family: 'Arvo', serif;

}

/*
background{
   background-image: linear-gradient(right, white, blue);
}
*/


</style>
