<style>
   .footer{
   text-align: center;
   }
   table {
   border: 20px;
   width: 100%;
   }

   th {
   height: 50px;
   background-color: #21D261;
   text-align: center;
   }

   td{
   height: 30px;
   background-color: white;
   padding-left: 10px;
   background-color: #f0f3ff;
   }

   a
   {
   font-family: 'Arvo', serif;
   }

   a:link {
   background-color: black;
   color: white;
   padding: 10px 15px;
   border-radius: 30px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   }

   a:hover{
   background-color: #21D261;
   color: white;
   padding: 10px 15px;
   border-radius: 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   }

   a:visited{
   color: floralwhite;
   }

   a:active{
   font-weight: bold;
   background-color: limegreen;
   }
   body
   {
   background-position: top;
   background-color: #cccccc;
   background-repeat: no-repeat;
   margin-left: 200px;
   margin-right: 200px;
   }

   form, h1, h2 , h3 , h4 , h5 , h6 , p , echo.php
   {
   font-family: 'Arvo', serif;
   text-align: left;
   }

   img
   {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   }

   #navbar
   {
   display: block;
   align-content: center;
   }

   input
   {
   border-radius: 8px;
   width: 300px;
   height: 25px;
   }
</style>
